.class-content {
    color: #333;
    font-size: 16px;
}
ul {list-style: none;padding-left: 0;}
ul li a {color: #146C94;font-size: 16px;font-weight: 600;}

ul.sub-content li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}
ul.sub-content li p {margin-bottom: 0;}
ul.sub-content li::before {
    content: '';
    position: absolute;
    display: flex;
    width: 12px;
    height: 6px;
    background-color: transparent;
    border: 3px solid #05abe1;
    transform: rotate(138deg);
    border-bottom: 0;
    border-left: 0;
    border-radius: 1px;
    left: 0;
    top: 9px;
}